           <!--Carousel--> 



            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <p class="car-image"><%= image_tag "kidseating.png" %></p>
                <div class="carousel-caption">
                  <a  data-scroll class="btn btn-trinity btn-trinity-white" href="#aboutbento">Learn More</a> 
                </div>
              </div>
            </div>


      <span class="anchor" id="aboutbento"></span>
        <div  class="aboutbento">
        <div class="container">
            <div class="col-md-12 text-center">
              <h2 class="featurette-heading">What is a Bento Lunch?</h2>
              <p class="lead">A bento lunch is a perfectly portioned and balanced meal tailored to the diet of growing kids.  It encompass's all food groups and makes eating healthy fun!
              </p>
            </div>
         <div class="row text-center">
            <div class="col-md-12">
                <p class= "bentoimg img-responsive"><%= image_tag "bentolunch.png" %></p>
            </div>
           </div>
         </div>
       </div>
    
          
           <!--End Carousel-->

 <!--Start Features-->
 <a id="features"></a> 
          <div class="features">
           <h1 class="first-head text-center text-muted">Benefits of Lunchpal</h1>
           
            <div class="container">
              <div class="row text-center margin-bottom">
                <div class="col-md-4">
                  <p class="icons"><%= image_tag "farmlogo.png" %></p>
                  <h3>Farm To Lunchbox</h3>
                  <p>We source all of our ingredients from local farmers. Along with fresh ingredients, we use nutritionist-approved recipes to help create balanced meals tailored to kids.</p>
                </div>
                <div class="col-md-4">
                  <p class="icons"><%= image_tag "clockicon.png" %></p>
                  <h3>Save Time</h3>
                  <p>Making kids lunches can be one of the most tedious and time-consuming tasks.  Allow us to do all of the dirty work so you can spend more time in your happy place.</p>
                </div>
                <div class="col-md-4">
                <p class="icons"><%= image_tag "globeicon.png" %></p>
                  <h3>Sustainable Practices</h3>
                  <p>We want to keep the world healthy just like your kids.  We use sustainablity practices in everything we do, from food to packaging.  We use 100% recyclable materials.</p>
                </div>


              </div>
            </div>
           </div>

          <!--End Features-->

<div id="signup">
  <div class="signup">
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://joinbentoclub.us8.list-manage.com/subscribe/post?u=bc4271fbd138ed37e17329051&amp;id=9519c8ac81" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Sign up to hear when we launch!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bc4271fbd138ed37e17329051_9519c8ac81" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
  </div>
</div>

