<!DOCTYPE html>
<html>
<head>
  <title>Bentoclub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="js/smooth-scroll.js"></script>
</head>
<body>
<%= render 'layouts/header' %>

<div class="wholepage">
		<% flash.each do |name, msg| %>
		     <%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
<%= yield %>
<%= render 'layouts/footer' %>
</div>



</body>
<script>
    smoothScroll.init();
</script>
<script src="js/smooth-scroll.js"></script>
</html>
